/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Font Family */

/* Base Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-link-color: #3AC1B0;
    --section-color: #1F9E80;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 95%;
    max-width: 95%;
    margin-inline: auto;
}

.container-sm {
    width: 85%;
    max-width: 85%;
    margin-inline: auto;
}

body.open {
    overflow: hidden;
}

/* End Base Styles */

/* Hamburger Menu */
.mobile-hamburger .line {
    width: 30px;
    height: 3px;
    background-color: var(--header-link-color);
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.mobile-hamburger:hover {
    cursor: pointer;
}

#hamburger {
    transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
    -webkit-animation: smallbig 0.6s forwards;
    animation: smallbig 0.6s forwards;
}

@-webkit-keyframes smallbig {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }
}

@keyframes smallbig {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3) {
    transition-delay: 0.2s;
}

#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* End Hamburger Menu */

/* Hide Desktop Header */
.desktop-header {
    display: none;
}

/* End Hide Desktop Header */

/* Mobile Header */
.mobile-header {
    position: relative;
    background-color: #fff;
    height: 10vh;
}

.mobile-header-logo-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.header-logo {
    width: 200px;
    height: 40px;
}

.mobile-nav {
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 10vh;
    z-index: 99;
}

.mobile-nav.open {
    display: block;
}

.mobile-header-links-items {
    width: 100%;
    height: 100%;
}

.mobile-header-links-item {
    border-top: 2px solid #efefef;
}

.mobile-header-links-item:last-child {
    border-bottom: 2px solid #efefef;
}

.mobile-header-links-item .mobile-header-link {
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 1rem;
    color: var(--header-link-color);
}

/* End Mobile Header */

/* Banner */
.banner-background {
    position: relative;
    background-color: var(--section-color);
}

.banner-row-background {
    background-image: url(/img/banner-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
}

.banner-text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    color: #fff;
}

.banner-text-area-h1 {
    margin-bottom: .5rem;
}

.banner-text-area-h3 {
    font-weight: 400;
}

.banner-waitlist {
    margin-top: 1rem;
}

.banner-waitlist-p {
    margin-bottom: .3rem;
}

.banner-waitlist-p span {
    font-weight: 600;
}

.banner-waitlist-input input[type="text"] {
    padding: .5rem;
    border-radius: 1em 0 0 1em;
    border: none;
    outline: none;
    margin-bottom: .5rem;
}

.banner-waitlist-input input[type="submit"] {
    padding: .5rem;
    border-radius: 0 1em 1em 0;
    border: none;
    margin-left: -10px;
    outline: none;
    margin-bottom: .5rem;
    background-color: #FF8D23;
    color: #fff;
    font-weight: 700;
}

/* End Banner */

/* How It Works */
.how-it-works-background {
    background-color: var(--section-color);
    position: relative;
    z-index: 0;
    color: #fff;
    padding-bottom: 2rem;
}

.how-it-works-wave {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.how-it-works-chevron {
    position: relative;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    margin-bottom: 3rem;
}

.how-it-works-chevron img {
    position: absolute;
    top: 0;
    width: 10%;
    -webkit-animation-name: chevronAnimation;
    animation-name: chevronAnimation;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes chevronAnimation {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
}

@keyframes chevronAnimation {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
}

.how-it-works-h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.how-it-works-col {
    margin-bottom: 1.5rem;
}

.how-it-works-col-img {
    text-align: center;
}

.how-it-works-col-img {
    border: 1px solid rgba(239, 239, 238, .5);
    border-radius: .3em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works-col-img img {
    width: 100%;
}

.how-it-works-col-h2 {
    margin: .5rem 0;
}

.how-it-works-col-p {
    margin-bottom: .5rem;
}

.how-it-works-col-a {
    color: #fff;
    font-weight: 800;
}

.how-it-works-col-a:hover {
    color: #FF8D23;
}

/* End How It Works */

/* Subscribe Banner */
.subscribe-banner-background {
    background-color: #fff;
    position: relative;
    padding: 2rem 0;
    z-index: 0;
    overflow: hidden;
}

.subscribe-banner-circle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.subscribe-banner-h2 {
    color: #037459;
}

.subscribe-banner-h2 span {
    font-weight: 800;
}

.subscribe-banner-col {
    margin-bottom: .5rem;
}

.subscribe-banner-input {
    display: flex;
}

.subscribe-banner-input input[type="text"] {
    padding: .5rem;
    border-radius: 1em;
    border-top: 1px solid #FF8D23;
    border-left: 1px solid #FF8D23;
    border-bottom: 1px solid #FF8D23;
    border-right: none;
    outline: none;
    box-shadow: 0px 4px 14px 0px #FFFFFF40;
}

.subscribe-banner-input input[type="submit"] {
    padding: .5rem;
    border-radius: 0 1em 1em 0;
    border: none;
    outline: none;
    background-color: #FF8D23;
    color: #fff;
    font-weight: 700;
    margin-left: -10px;
}

/* End Subscribe Banner */

/* Our Technology */
.our-technology-background {
    background-color: var(--section-color);
    color: #fff;
    position: relative;
    padding: 2rem 0;
}

.our-technology-wave {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.our-technology-h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.our-technology-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.our-technology-col {
    flex: 0 0 auto;
    width: calc(50% - .5rem);
}

.our-technology-img {
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
}

.our-technology-img img:nth-child(1) {
    width: 80%;
}

.our-technology-img img:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.our-technology-h2 {
    text-align: center;
}

/* End Our Technology */

/* Start Feeling Better */
.feeling-better-background {
    background-color: var(--section-color);
    position: relative;
    z-index: 0;
    padding: 2rem 0;
    color: #fff;
}

.feeling-better-circle {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.feeling-better-wave-2 {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20%;
    z-index: -1;
}

.feeling-better-h1-wave {
    margin-bottom: 1rem;
}

.feeling-better-h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-inline: auto;
    font-size: 1.3rem;
}

.feeling-better-wave {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 80%;
    transform: translateX(-50%);
}

.feeling-better-row {
    position: relative;
    z-index: 0;
}

.feeling-better-center-circle {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: -1;
    opacity: .3;
}

.feeling-better-col-p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

/* End Start Feeling Better */

/* App Promotion */
.app-promotion-background {
    background-image: url(/img/app-promotion-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
    position: relative;
    z-index: 0;
}

.app-promotion-circle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.app-promotion-col {
    margin-bottom: 2rem;
}

.app-promotion-col:nth-child(2) {
    text-align: center;
}

.app-promotion-col-h2 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.app-promotion-col-h2 span {
    font-weight: 700;
}

.app-promotion-google-play img,
.app-promotion-app-store img {
    width: 60%;
}

/* End App Promotion */

/* VideoJs */
.vjs-poster img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2em;
}

.video-js {
    border-radius: 2em;
}

.vjs-theme-forest .vjs-big-play-button {
    background: url(/forest/icons/play-btn.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 90px;
}

.my-video-dimensions {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.video-js .vjs-tech {
    -o-object-fit: fill;
    object-fit: fill;
}

/* End VideoJs */

/* Our Partners */
.our-partners-background {
    padding: 2rem 0;
    background-color: var(--section-color);
    position: relative;
    z-index: 0;
    color: #fff;
    text-align: center;
}

.our-partners-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.our-partners-wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.our-partners-h1 {
    margin-bottom: 2rem;
}

.our-partners-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.our-partners-col {
    flex: 0 0 auto;
    width: calc(50% - .5rem);
}

.our-partners-col-partner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    border: 5px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.our-partners-col-partner:hover img {
    transform: scale(1.07);
}

/* End Our Partners */

/* Footer */
.footer-background {
    background-color: #11876B;
    color: #fff;
    box-shadow: 0px -3px 24px 0px #1A8D7266;
}

.footer-top-link,
.footer-bottom-social-link {
    color: #fff;
}

.footer-bottom-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 50%;
    background-color: #fff;
}

.footer-bottom-social-links-item i {
    color: #037459;
}

.footer-top-row {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.footer-top-logo {
    margin-bottom: .5rem;
}

.footer-top-logo img {
    width: 200px;
    height: 40px;
}

.footer-top-links-item {
    margin-bottom: .5rem;
}

.footer-top-links-item:last-child {
    margin-bottom: initial;
}

.footer-bottom-row {
    padding: 1rem 0;
}

.footer-bottom-col {
    margin-bottom: .5rem;
}

.footer-bottom-social-links-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* End Footer */

/* Our Tech */
.our-tech-product {
    padding: 1rem .5rem;
    border-bottom: 2px solid #C9C9C966;
}

.our-tech-product:last-child {
    border-bottom: none;
}

.our-tech-product-img {
    border: 2px solid #DBDBDB;
    border-radius: 1em;
    text-align: center;
    margin-bottom: .5rem;
    overflow: hidden;
}

.our-tech-product-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-tech-product-text-h1 {
    color: #FF8E2F;
    margin-bottom: .2rem;
}

.our-tech-product-text-p {
    font-weight: 500;
    margin-bottom: 1em;
    text-align: justify;
}

/* End Our Tech */

/* Team */
.team-banner-image {
    box-shadow: 0px -3px 20px 0px #1A8D7266;

}

.team-about-us {
    padding: 1rem 0;
}

.team-header {
    text-transform: uppercase;
    color: #FF8D23;
    text-align: center;
    margin-bottom: 1rem;
}

.team-about-us-p {
    text-align: justify;
    margin-bottom: 1em;
}

.team-our-team {
    padding: 2rem 0;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.team-member {
    flex: 0 0 auto;
    width: calc(50% - .5rem);
    text-align: center;
    border: 1px solid #1F9E8080;
    padding: 1rem .5rem;
    border-radius: .5em;
}

.member-photo {
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
}

.member-photo,
.member-name,
.member-position {
    margin-bottom: 1rem;
}

.member-name,
.member-position {
    color: #178369;
}

.member-name {
    font-weight: 600;
}

.member-position {
    font-weight: 700;
}

/* End Team */

/* Media Queries */

@media only screen and (min-width:768px) {

    /* Banner */
    .banner-row-background {
        height: 50vh;
    }

    /* End Banner */

    /* How It Works */
    .how-it-works-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .how-it-works-col {
        margin-bottom: initial;
        flex: 0 0 auto;
        width: calc(33.333% - .5rem);
    }

    .how-it-works-chevron img {
        width: 5%;
    }

    /* End How It Works */

    /* Subscribe Banner */
    .subscribe-banner-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* End Subscribe Banner */

    /* Our Technology */
    .our-technology-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .our-technology-col {
        margin-bottom: initial;
        flex: 0 0 auto;
        width: calc(33.333% - 0.5rem);
    }

    .our-technology-col:nth-child(2) {
        position: relative;
    }

    .our-technology-col:nth-child(2) .our-technology-h2 {
        position: absolute;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
    }

    .our-technology-col:nth-child(2) .our-technology-img img:nth-child(1) {
        width: 100%;
    }

    /* End Our Technology */

    /* Start Feeling Better */
    .feeling-better-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .feeling-better-col {
        flex: 0 0 auto;
        width: calc(40% - 0.5rem);
    }

    .feeling-better-col:nth-child(2) {
        width: calc(60% - .5rem);
    }

    .feeling-better-col-p {
        font-size: 1.5rem;
    }

    .feeling-better-circle {
        width: 30%;
    }

    .feeling-better-center-circle {
        bottom: -20%;
    }

    .feeling-better-h1 {
        font-size: 2em;
    }

    /* End Start Feeling Better */

    /* App Promotion */
    .app-promotion-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .app-promotion-col {
        margin-bottom: initial;
    }

    .app-promotion-col:nth-child(1) {
        width: calc(80% - .5rem);
    }

    .app-promotion-col:nth-child(2) {
        width: calc(20% - .5rem);
    }

    .app-promotion-col-h2 {
        color: #037459;
    }

    /* End App Promotion */

    /* VideoJS */
    .my-video-dimensions {
        height: 40vh;
    }

    /* End VideoJS */

    /* Our Partners */
    .our-partners-row {
        gap: 1rem;
    }

    .our-partners-col {
        width: calc(25% - 1rem);
    }

    .our-partners-circle {
        width: 40%;
    }

    /* End Our Partners */

    /* Footer */

    .footer-top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-top-logo {
        margin-bottom: initial;
    }

    .footer-top-links-items {
        display: flex;
        align-items: center;
    }

    .footer-top-links-item {
        margin-bottom: initial;
    }

    .footer-top-links-item:last-child .footer-top-link {
        padding-right: initial;
    }

    .footer-top-link {
        display: inline-block;
        padding: 0 .8rem;
    }

    .footer-top-links-item:nth-last-child(2) a {
        border-left: 1px solid rgba(255, 255, 255, .8);
        border-right: 1px solid rgba(255, 255, 255, .8);
    }

    .footer-bottom-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom-col {
        margin-bottom: initial;
    }

    .footer-bottom-col p {
        font-size: .7rem;
    }

    /* End Footer */

    /* Our Tech */
    .our-tech-product {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .our-tech-product:nth-child(even) {
        flex-direction: row-reverse;
    }

    .our-tech-product>* {
        flex: 0 0 auto;
        width: calc(50% - 1rem);
    }

    /* End Our Tech */

    /* Team */
    .team-banner-image {
        height: 30vh;
    }

    .team-banner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .team-about-us-p {
        line-height: 40px;
    }

    .member-photo,
    .member-name,
    .member-position {
        margin-bottom: 2rem;
    }

    .team-member {
        width: calc(33.333% - .5rem);
    }

    /* End Team */
}


@media only screen and (min-width:1200px) {

    /* Body */
    body {
        font-size: 16px;
    }

    /* End Body */

    /* Container */
    .container {
        width: 90%;
        max-width: 90%;
    }

    /* End Container */

    /* Mobile Header */
    .mobile-header {
        display: none;
    }

    /* End Mobile Header */

    /* Desktop Header */
    .desktop-header {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #fff;
        height: 10vh;
        box-shadow: 0px -4px 14px 0px #145F4C;
    }

    .desktop-header-nav {
        display: flex;
        align-items: center;
        gap: 5rem;
        height: 10vh;
    }

    .desktop-header-logo {
        width: 350px;
        height: 69px;
    }

    .desktop-header-links-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .desktop-header-link {
        position: relative;
        display: inline-block;
        font-weight: 700;
        padding: 5px 0;
        color: var(--header-link-color);
    }

    .desktop-header-link.active-link::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--header-link-color);
    }

    /* End Desktop Header */

    /* Banner */
    .banner-row-background {
        height: 80vh;
    }

    .banner-text-area {
        left: 5%;
        transform: translate(0, -50%);
        font-size: 3rem;
    }

    .banner-text-area-h1 {
        margin-bottom: 2rem;
    }

    .banner-text-area-h3 {
        margin-bottom: 5rem;
    }

    .banner-waitlist-p {
        font-size: 1rem;
        margin-bottom: initial;
    }

    .banner-waitlist-input {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .banner-waitlist-input input[type="text"] {
        margin-bottom: initial;
        width: 30%;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 2em 0 0 2em;
    }

    .banner-waitlist-input input[type="submit"] {
        margin-left: -15px;
        margin-bottom: initial;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        border-radius: 0 2em 2em 0;
    }

    /* End Banner */

    /* How It Works */
    .how-it-works-background {
        height: 90vh;
    }

    .how-it-works-row {
        gap: 10rem;
    }

    .how-it-works-col {
        width: calc(33.333% - 10rem);
    }

    .how-it-works-col:nth-child(2) {
        position: relative;
    }

    .how-it-works-col:nth-child(2)::before,
    .how-it-works-col:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        box-shadow: 0px 4px 14px 0px #FFFFFF40;
        background-color: rgba(255, 255, 255, .4);
    }

    .how-it-works-col:nth-child(2)::before {
        top: 0;
        left: -20%;
    }


    .how-it-works-col:nth-child(2)::after {
        right: -20%;
        top: 0;
    }

    .how-it-works-col-img {
        border-radius: 1em;
    }

    .how-it-works-col:nth-child(2) .how-it-works-col-img {
        align-items: flex-end;
    }

    .how-it-works-wave {
        top: 38%;
    }

    .how-it-works-h1 {
        margin-bottom: 8rem;
    }

    .how-it-works-col-h2 {
        margin: 1rem 0;
    }

    .how-it-works-col-p {
        margin-bottom: 1.5rem;
    }

    .how-it-works-chevron {
        margin-bottom: 7rem;
    }

    /* End How It Works */

    /* Subscribe Banner */
    .subscribe-banner-background {
        padding: 5rem 0;
    }

    .subscribe-banner-circle {
        width: 20%;
    }

    .subscribe-banner-col {
        margin-bottom: initial;
    }

    .subscribe-banner-col {
        width: 50%;
    }

    .subscribe-banner-input input[type="text"] {
        width: 100%;
        margin-bottom: initial;
        padding: 1rem;
        font-size: 1rem;
        border-top: 2px solid #FF8D23;
        border-left: 2px solid #FF8D23;
        border-bottom: 2px solid #FF8D23;
        border-radius: 2em 0 0 2em;
    }

    .subscribe-banner-input input[type="submit"] {
        margin-left: -15px;
        margin-bottom: initial;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        border-radius: 0 2em 2em 0;
    }

    .subscribe-banner-h2 {
        font-size: 2.5rem;
    }

    /* End Subscribe Banner */

    /* Our Technology */

    .our-technology-background {
        height: 90vh;
    }

    .our-technology-col:nth-child(2) .our-technology-h2 {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* End Our Technology */

    /* Start Feeling Better */
    .feeling-better-col-p {
        font-size: 3rem;
    }

    .feeling-better-h1 {
        font-size: 3em;
    }

    .feeling-better-circle {
        width: 20%;
    }

    .feeling-better-center-circle {
        width: 50%;
        opacity: initial;
    }

    .feeling-better-row:nth-child(3) {
        margin-top: -10rem;
    }

    /* End Start Feeling Better */

    /* App Promotion */
    .app-promotion-row {
        align-items: center;
        height: 90vh;
    }

    .app-promotion-col-h2 {
        font-size: 2rem;
    }

    .app-promotion-google-play img,
    .app-promotion-app-store img {
        width: initial;
    }

    /* End App Promotion */

    /* VideoJS */
    .my-video-dimensions {
        width: 80%;
        height: 65vh;
    }

    /* End VideoJS */

    /* Our Partners */
    .our-partners-row {
        align-items: center;
        height: 45vh;
    }

    /* End Our Partners */

    /* Footer */
    .footer-top-row,
    .footer-bottom-row {
        padding: 3rem 0;
    }

    /* End Footer */

    /* Our Tech */

    .our-tech-product {
        padding: 4rem 1rem;
        gap: 5rem;
    }

    .our-tech-product>* {
        width: calc(50% - 5rem);
    }

    .our-tech-product-text-p {
        line-height: 32px;
    }

    /* End Our Tech */

    /* Team */
    .team-about-us {
        padding: 2rem 0;
    }

    .team-our-team {
        padding: 2rem 0 8rem 0;
    }

    .team-banner-image {
        height: 50vh;
    }

    .member-photo,
    .member-name,
    .member-position {
        margin-bottom: 3rem;
    }

    .team-members {
        gap: 3rem;
    }

    .team-member {
        width: calc(33.333% - 3rem);
    }

    /* End Team */
}

/* End Media Queries */